@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

:root {
	--font01:'Tilt Warp', cursive; 
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	max-width: 100%;
	height: auto;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	background-color: #e2d397;
}

.fund {
	/* background-image: url("../image/Linguagem-de-Programação-Java-2.jpg"); */
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;


}

nav {
	background: #481800;
	

}

nav ul {
	list-style: none;
	margin: 0px 0px 0px 7px;
	padding: 0px;

}

nav li {
	display: inline-block;
	margin: 12px 10px 7px 2px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

nav li a {
	color: #fff;
	text-decoration: none;
	font-weight: bolder;
}

nav li a:hover {
	color: #f07e13;
}



section {
	/* font-family: 'Roboto', sans-serif; */
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	
}


p {
	margin: 10px;
	font-size: 16px;
	line-height: 1.4;
	text-indent: 20px;
	
}


p:first-letter {
	font-size: 150%;
	font-weight: bolder;
}


h2 {
	margin-left: 15px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h4 {
	margin: 10px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {

	display: flex;
	justify-content: center;
	align-items: center;
	
	
}

.img {

	max-width: 100%;
	height: auto;
	margin: 0px 0px 20px;
	
}

.dic {
	margin: 30px;
	
}
